


body {
  background-color: #ededed;
}

.app {
  margin: 10vh 10vw;
}

p {
  font-family: Courier, sans-serif;
  font-size: 1.1em;
  color: #525252;
}

h3 {
  font-size: 1.6rem;
}

// Link styles
.nav-item {
  margin: 5px 0;
}
a {
  font-family: Courier, sans-serif;
  font-size: 1.5rem;
  color: #0E87E4;
  text-align: right;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

// See header and footer links in their perspective styles.



// Header Styles
img.logo {
  margin-top: -70px;
}

header {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .header-inner {
    display: none;
  }
}


@media only screen and (min-width: 800px) {
  .header-inner {
    display: flex;
    align-items: flex-end;
    flex-flow: column;
    justify-content: right;
    z-index: 5;

    .social-links {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      a {
        display: flex;
        margin: 20px 30px;
        align-content: space-evenly;
        align-items: flex-end;
      }

      img {
        opacity: 0.7;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
.tagline {
  display: none;
}

}
@media only screen and (min-width 1201px) {
  .tagline {
    display: flex;
    align-items: flex-end;
    margin-left: -200px;
    font-family: Courier, sans-serif;
    font-size: 1.6rem;
    color: #525252;
    z-index: 2;
  }
}
//Portfolio Styles

.fe-header {
  background: url("../images/rectangle.png") no-repeat;
  height: 100px;

  h2 {
    display:flex;
    background: #ffffff;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: Courier-Bold, sans-serif;
    font-size: 24px;
    color: #1E8DE4;
    text-align: center;

  }
}

.portfolio-image {
  max-width: 300px;
}

//Footer Styles
footer {
  margin-top: 50px;

  @media only screen and (max-width: 985px) {

    .nav {
      display: flex;
      flex-direction: column;
      margin: 10px;
      justify-content: space-evenly;

      .nav-item {
        margin: 5px 0;
      }
    }
  }

  @media only screen and (min-width: 985px) {

    .nav {
      display: flex;
      flex-direction: row;
      margin: 10px;
      justify-content: space-evenly;

      .nav-item {
        margin: 5px 0;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 25px;
    a {
      margin: 20px 30px;
    }
    img {
      opacity: 0.7;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .copyright {
    font-family: Courier, sans-serif;
    font-size: 1.13rem;
    color: #525252;
    text-align: justify;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}