


body {
  background-color: #ededed;
}

.app {
  margin: 10vh 10vw;
}

// Link styles
a {
  font-family: Courier;
  font-size: 24px;
  color: #0E87E4;
  text-align: right;
}

// Header Styles
img.logo {
  margin-top: -70px;
}

header {
  display: flex;
}

.header-inner {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  justify-content: right;

  .social-links {
    display: flex;
    justify-content: right;

    a {
      display: flex;
      margin: 5px;
      align-content: space-evenly;
      align-items: flex-end;
  }
  }
}

.tagline {
  display: flex;
  align-items: flex-end;
  margin-left: -200px;
  font-family: Courier;
  font-size: 29px;
  color: #525252;
}

//Portfolio Styles

.fe-header {
  background-image: url("../images/rectangle.png");
  height: 100px;
  h2 {
    display:flex;
    background: #ffffff;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: Courier-Bold;
    font-size: 24px;
    color: #1E8DE4;
    text-align: center;

  }
}

.portfolio-image {
  max-width: 300px;
}